
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');


.profile-background {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  
  .profile {
    text-align: center;
    position: relative;
    z-index: 1;
    max-width: 90%;
    margin: 0 auto;
    color: white;
    padding: 20px;
    transform: translateY(-20px);
  }
  
  .profile-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    color: #ffddcc;
  }
  
  .name-span {
    color: tomato;
  }
  
  .profile-details {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    max-width: 500px;
    margin: 20px auto;
  }
  
  .profile-details span {
    background-color: rgba(255, 139, 119, 0.7);
    color: rgb(15, 15, 15);
    padding: 1px 4px;
    border-radius: 4px;
  }
  
  .profile-btn {
    text-transform: uppercase;
    background-color:tomato;
    color: #ffddcc;;
    border: none;
    font-size: 1.1rem; 
    padding: 0.6em 1.3em; 
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.profile-btn:hover {
    background-color: rgb(202, 54, 28);
    /* transform: scale(2);     */
}




  
  .profile-img-section {
    margin-top: 20px;
  }
  
  .profile-img {
    width: 70%;
    max-width: 300px;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
  }
  
  /* DESKTOP */
  @media (min-width: 780px) {
    .profile {
      text-align: left;
      display: flex;
      justify-content: space-between;
      max-width: 900px;
      margin: 0 auto;
      padding: 20px;
    }
  
    .profile-info {
      margin-bottom: 0;
    }
  
    .profile-title {
      font-size: 4rem;
    }
  
    .profile-details {
      font-size: 1.2rem;
      margin: 30px 0;
    }
  
    .profile-btn {
      font-size: 1.1rem;
    }
  
    .profile-img {
      width: 100%;
      max-width: 350px;
    }
  }
  